
    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
      color: #fff!important;
      background-color:  var(--theme-accent-alter)!important;/*分页的当前页的背景颜色*/
      border-color: var(--theme-accent-alter)!important;/*分页的当前页的边框颜色*/
    }
    .pagination > .disactive > a,
    .pagination > .disactive > span,
    .pagination > .disactive > a:hover,
    .pagination > .disactive > span:hover,
    .pagination > .disactive > a:focus,
    .pagination > .disactive > span:focus {
      color: #777!important;
      background-color: var(--theme-base02) !important;/*分页的当前页的背景颜色*/
      border-color: #ddd!important;/*分页的当前页的边框颜色*/
    }
    .pagination>li>a, .pagination>li>span {
      color: var(--theme-accent-alter)!important;

    }
