<div class="container">
  <div class="left_part">
    <h5><br /></h5>
    <h1 class="recent_title">
      我的下载
    </h1>
    <div>
      <div *ngFor="let article of returnedArray">
        <app-article-abstract
          [title]="article.title"
          [articleType]="article.articleType"
          [abstract]="article.abstract"
          [authors]="article.authors"
          [releaseDate]="article.releaseDate"
          [tags]="article.tags"
          [refCount]="article.refCount"
          [downloadCount]="article.downloadCount"
          [hasFile]="article.hasFile"
          [showFavorite]="article.showFavorite"
        >
        </app-article-abstract>
      </div>

    </div>
    <app-paginator
      [totalItems]="articles.length"
      [itemsPerPage]="5"
      [showBoundary]="true"
      (pageChanged)="pageChanged($event)"
    ></app-paginator>
  </div>

  <div class="right">
    <div class="right-wrapper">
      <div class="line"></div>
      <div class="summary">
        <div routerLink=".." class="toc-fat">个人中心</div>
        <div routerLink="../favorite" class="toc">我的收藏</div>
        <div routerLink="../download" class="toc">我的下载</div>
        <div routerLink="../follow" class="toc">我的关注</div>
        <div routerLink="../setting" class="toc">个人设置</div>
        <div routerLink="../payment" class="toc">财务管理</div>
      </div>
    </div>
  </div>
</div>
