<div class="container">
  <div class="left_part">
    <h5><br></h5>
    <h1 class="recent_title">
      我的下载
    </h1>
    <div>
      <div *ngFor="let article of returnedArray">
        <app-article-abstract [title]="article.title" [articleType]="article.articleType" [abstract]="article.abstract"
          [authors]="article.authors" [releaseDate]="article.releaseDate" [tags]="article.tags"
          [refCount]="article.refCount" [downloadCount]="article.downloadCount" [hasFile]="article.hasFile"
          [showFavorite]="article.showFavorite">
        </app-article-abstract>
      </div>

      <app-paginator [totalItems]="articles.length" [itemsPerPage]="5" [showBoundary]="true"
        (pageChanged)="pageChanged($event)"
      class = "paginator"></app-paginator>
    </div>


  </div>

  <div class="right_part">
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_h">
      <a routerLink="../">个人中心</a>
    </div>
    <div class="func_h">
      <a routerLink="../favorite">我的收藏</a>
    </div>
    <div class="func_t">
      <a routerLink="." class="func_t">我的下载</a>
    </div>
    <div class="func_h">
      <a routerLink="../follow">我的关注</a>
    </div>
    <div class="func_h">
      <a routerLink="../setting">个人设置</a>
    </div>
    <div class="func_h">
      <a routerLink="../payment">财务管理</a>
    </div>
  </div>
</div>
