.head {
  display flex
  flex-direction row
  justify-content center
  align-items center
  padding var(--theme-pad-06)
};

.part {
  margin-top var(--theme-pad-06)
  margin-bottom var(--theme-padp-02)
};

.title {
  justify-content space-between

  h2 {
    font-weight normal
  }
}
