searchbar-default-background-color = var(--theme-base07)
searchbar-default-text-color = var(--theme-base01)
searchbar-default-placeholder-color = var(--theme-base05)
searchbar-default-border-color = var(--theme-base05)
searchbar-default-accent-color = var(--theme-accent)

.searchbar {
  display: flex
  flex-direction: row
  justify-content: flex-start
  width: 100%
  padding: var(--theme-pad-00) var(--theme-pad-03)
  background-color: var(--searchbar-background-color, searchbar-default-background-color)
  color: var(--searchbar-text-color, searchbar-default-text-color)
  border-style: solid
  border-width: 2px
  border-color: var(--searchbar-border-color, searchbar-default-border-color)
  font-family: inherit
  font-weight: normal
  font-size: var(--theme-size-base)
  transition: border-color 150ms ease-in-out

  &:focus-within {
    border-color: var(--searchbar-accent-color, searchbar-default-accent-color)
  }
}

.search-item {
  padding: var(--theme-pad-03) var(--theme-pad-03)
  display: flex
  flex-direction: row
  align-items: center
  font-weight: 700
  color: var(--searchbar-accent-color, searchbar-default-accent-color)
}

.search-box {
  display: flex
  padding: var(--theme-pad-03) var(--theme-pad-03)
  color: var(--searchbar-text-color, searchbar-default-text-color)
  background-color: transparent
  font-size: inherit
  border: none
  flex-grow: 1

  &::placeholder {
    color: var(--searchbar-placeholder-color, searchbar-default-placeholder-color)
  }
}
