<div class="container" style="padding-top: 16px">
  <h5><br /></h5>
  <app-searchbar
    [params]="queryParams"
    (startQuery)="startQuery($event)"
  ></app-searchbar>

  <div [ngClass]="pagerClass" *ngIf="articles.length !== 0">
    <div *ngFor="let article of articles">
      <app-article-abstract
        [title]="article.title"
        [articleType]="article.type"
        [abstract]="article.summary"
        [authors]="article.authors"
        [releaseDate]="article.date"
        [tags]="article.keywords"
        [refCount]="article.quote"
        [hasFile]="article.site"
        [showFavorite]="false"
      >
      </app-article-abstract>
    </div>

    <app-paginator
      [totalItems]="totalCount"
      [currentItem]="currentCount"
      [itemsPerPage]="10"
      [showBoundary]="true"
      (pageChanged)="pageChanged($event)"
    ></app-paginator>
  </div>
  <div class="no-result" *ngIf="articles.length === 0">
    <div class="jumbotron">啥都没搜到</div>
    <div class="smaller">换一下关键词试试吧</div>
  </div>
</div>
