<div class = "container" style="padding-top: 16px">
  <h5><br></h5>
  <app-searchbar></app-searchbar>
<!--  <div *ngFor="let article of articles">-->
<!--    <app-article-abstract [title]= 'article.title' [articleType]="article.articleType" [abstract]="article.abstract"-->
<!--                          [authors]="article.authors" [releaseDate]="article.releaseDate" [tags]="article.tags"-->
<!--                          [refCount]="article.refCount" [downloadCount]="article.downloadCount" [hasFile]="article.hasFile" [showFavorite]="article.showFavorite">-->
<!--    </app-article-abstract>-->
<!--  </div>-->
  <app-pager></app-pager>
</div>
