<div class="container">
  <div class="left_part">
    <h5><br></h5>
    <h1 class="recent_title">
      个人设置
    </h1>

    <h4>当前用户名：{{ name }}</h4>
    <h4>修改用户名：{{changedName}}</h4>
    <div class="input_btn">
    <input
      class="search-box"
      placeholder="输入要修改的用户名"
      [value]="changedName"
      (input)="changedName = $event.target.value"
    />
    <button (click)="onClickMe()" class="btn search-btn ">确认修改</button>
    </div>
  </div>

  <div class="right">
    <div class="right-wrapper">
      <div class="line"></div>
      <div class="summary">
        <div routerLink=".." class="toc-fat">个人中心</div>
        <div routerLink="../favorite" class="toc">我的收藏</div>
        <div routerLink="../download" class="toc">我的下载</div>
        <div routerLink="../follow" class="toc">我的关注</div>
        <div routerLink="../setting" class="toc">个人设置</div>
        <div routerLink="../payment" class="toc">财务管理</div>
      </div>
    </div>
  </div>
</div>
