.left_part {
    lost-column: 4 / 5
}

.right_part {
    lost-column: 1 / 5
    position: sticky
    top: var(--theme-pad-05)
    
    .line {
        width = 100%
    }

    .func_t {
        color: var(--palette-base05)
        margin-top: 5px
    }

    .func_h {
        color: var(--palette-base03)
        margin-top: 5px
    }
}