.root-color-palette {
  /* Black */
  --palette-base00: #000000
  /* Gray 1 */
  --palette-base01: #343637
  /* Gray 2 */
  --palette-base02: #484C4D
  /* Gray 3 */
  --palette-base03: #7B8083
  /* Gray 4 */
  --palette-base04: #B9C7CB
  /* Gray 5 */
  --palette-base05: #DCDFE0
  /* Gray 6 */
  --palette-base06: #E9F1F2
  /* White */
  --palette-base07: #FFFFFF
  /* Red */
  --palette-err: #E63E52
  /* Orange */
  --palette-warn: #FF8C05
  /* Green 2 */
  --palette-accent: #27A881
  /* Green 3 */
  --palette-accent-alter: #16D0AF
  --palette-accept: #16D0AF
  /* Blue 2 */
  --palette-info: #B0C2FF
}
