
.no-result {
  padding-top: 5vh
  padding-bottom: 5vh
  text-align: center

  .smaller {
    font-size: var(--theme-size-h3)
    font-weight: bold
    color: var(--theme-base03)
  }

  .caption {
    margin: var(--theme-pad-03)
    color: var(--theme-base03)
  }
}
