<div class="container">
    <div class="left_part">
      <h5><br></h5>
        <h1 class="recent_title">
            财务管理
        </h1>

        <h3>请选择充值金额</h3>

        <div class="btns">
            <button (click)="payNum = 5" class="btn search-btn ojbk">5元</button>
            <button (click)="payNum = 10" class="btn search-btn ojbk">10元</button>
            <button (click)="payNum = 20" class="btn search-btn ojbk">20元</button>
            <button (click)="payNum = 50" class="btn search-btn ojbk">50元</button>
            <button (click)="payNum = 100" class="btn search-btn ojbk">100元</button>
        </div>

        <h3>您将支付{{payNum}}元。</h3>
        <div class="pay">
        <h4 class="t4">扫码支付：</h4> 
        <button (click)="onClickMe()" class="btn pay-btn">完成支付</button>
        </div>

        <div class="pic">
            <img class="image" src="../../../assets/payme.jpg">
        </div>
    </div>


    <div class="right">
        <div class="right-wrapper">
          <div class="line"></div>
          <div class="summary">
            <div routerLink=".." class="toc-fat">个人中心</div>
            <div routerLink="../favorite" class="toc">我的收藏</div>
            <div routerLink="../download" class="toc">我的下载</div>
            <div routerLink="../follow" class="toc">我的关注</div>
            <div routerLink="../setting" class="toc">个人设置</div>
            <div routerLink="../payment" class="toc">财务管理</div>
          </div>
        </div>
      </div>
</div>
