.container {
    display: flex
    flex-direction: row
}

.left_part {
    lost-column: 4 / 5

    .btns {
        display: flex
        flex-direction: row

        .ojbk {
            margin: 0 20px 0 20px
        }
    }

    .pic {
        .image {
            width: 200px
            height: 200px
        }
    }
}

.right_part {
    lost-column: 1 / 5
    position: fixed
    right: var(--theme-pad-05)
    top: var(--theme-pad-10)

    .line {
        width = 100%
    }

    .func_t {
        color: var(--palette-base05)
        margin-top: 5px
    }

    .func_h {
        color: var(--palette-base03)
        margin-top: 5px
    }
}
