<div class="login-page-banner" @banner-trigger>
  <div class="container">
    <div class="login">
      <h1>登录</h1>
      <h5 class="textdarcula">用户名</h5>
      <input
        name="username"
        id="username"
        type="text"
        class="username-box"
      />
      <h5 class="textdarcula">密码</h5>
      <input
        name="password"
        id="password"
        type="password"
        class="username-box"
      />
      <div class="foot">
        <button class="btn login-btn">登录</button>
        <button class="btn ghost-btn">注册</button>
        <button class="btn ghost-btn">忘记密码</button>

      </div>
    </div>
  </div>
</div>
