.mainpage-banner {
  height: 60vh
  padding-top: var(--theme-pad-04)
  padding-bottom: 10vh
  box-sizing: border-box
  background: var(--theme-base05)
  color: var(--theme-base00)
  display: flex
  flex-direction: column
  justify-content: flex-end
  // searchbar in dark theme
  --searchbar-background-color: var(--theme-base06)
  --searchbar-text-color: var(--theme-base00)
  --searchbar-placeholder-color: var(--theme-base03)
  --searchbar-border-color: var(--theme-base06)
  --searchbar-accent-color: var(--theme-accent)
}

.top-jumbo {
  color: var(--theme-accent)
  user-select: none
  font-weight: normal
}

.test {
  lost-column: 1 / 2
}
