.mainpage-banner {
  height: 70vh
  padding-top: var(--theme-pad-04)
  box-sizing: border-box
  background: var(--theme-base02)
  color: var(--theme-base07)
  // searchbar in dark theme
  --searchbar-background-color: var(--theme-base01)
  --searchbar-text-color: var(--theme-base07)
  --searchbar-border-color: var(--theme-base01)
  --searchbar-accent-color: var(--theme-accent-alter)
}
