.mainpage-banner {
  height: 60vh
  padding-top: var(--theme-pad-04)
  padding-bottom: 10vh
  box-sizing: border-box
  background: var(--theme-base02)
  color: var(--theme-base07)
  display: flex
  flex-direction: column
  justify-content: flex-end
  // searchbar in dark theme
  --searchbar-background-color: var(--theme-base01)
  --searchbar-text-color: var(--theme-base07)
  --searchbar-border-color: var(--theme-base01)
  --searchbar-accent-color: var(--theme-accent-alter)
}

.top-jumbo {
  color: var(--theme-accent-alter)
  user-select: none
  font-weight: normal
}
