@lost flexbox flex
//
.professorpage-banner {
}

.container {
  display: flex
  flex-direction: row
}

.left {
  lost-column: 2 / 3
  display: flex
  flex-direction: column
  align-items: stretch
  .title{
    lost-colume: 3/4
  }
  h1 {
    margin-bottom: 0
  }
}

.right {
  lost-column: 1 / 3
  display: block
  height: auto

  .right-wrapper {
    margin-top: var(--theme-pad-06)
    position: sticky
    top: var(--theme-pad-06)
  }
}

.line {
  background-color: var(--theme-accept)
  width: 60%
  height: 1px
}

.func_t {
  color: var(--palette-base05)
  margin-top: 5px
}

.func_h {
  color: var(--palette-base03)
  margin-top: 5px
}

.toc-fat {
  position: relative
  padding-top: var(--theme-pad-04)
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: bold
  font-size: var(--theme-size-base)
  display: flex
  align-items: flex-end
  color: var(--theme-base00)
}

.toc {
  padding-top: var(--theme-pad-02)
  position: relative
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: 500
  font-size: var(--theme-size-base)
  display: flex
  align-items: flex-end
  font-feature-settings: 'zero' on
  color: var(--theme-base03)
}
