<div class="container">
  <h5><br/></h5>

  <div class="left_part">
    <div *ngFor="let pro of professors">
      <app-pro-abstract
      [name]="pro.name"
      [photoURL]="'https://pic3.zhimg.com/a82b51c4284beda5b29d645fa4f91c97_xl.jpg'"
      [unit]="pro.institution"
      [description]="pro.contract"
      [tags]="pro.reachFields"
      [articleCount]="30"
      [citationsCount]="115"
      [downloadCount]="65536"
      [showFavorite]="true"
      [hasBtn]="true"
      [id] = "pro.professorId">

      </app-pro-abstract>
    </div>
    <app-paginator
      [totalItems]="professors.length"
      [itemsPerPage]="5"
      [showBoundary]="true"
      (pageChanged)="pageChanged($event)">
    </app-paginator>
  </div>

  <div class="func_part">
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_h">
      <a routerLink="../">个人中心</a>
    </div>
    <div class="func_h">
      <a routerLink="../user">用户管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../article">论文管理</a>
    </div>
    <div class="func_t">
      <a routerLink="." class="func_t">专家管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../pro-apply">专家申请管理</a>
    </div>
  </div>
</div>
