<div class="container">
  <h5><br/></h5>

  <div class="left_part">
    <app-searchbar [type]="'论文'"
    [params]="queryParams"
    (startQuery)="startQuery($event)"
    [canShowAdvancedSearch]="true"></app-searchbar>
    <div [ngClass]="pagerClass" *ngIf="articles.length !== 0">
      <div class="article-wrapper">
        <div *ngFor="let article of returnArticles">
          <app-article-abstract
            [title]="article.title"
            [articleType]="article.type"
            [abstract]="article.summary"
            [authors]="article.authors"
            [releaseDate]="article.date"
            [tags]="article.keywords"
            [refCount]="article.quote"
            [hasFile]="article.site"
            [showFavorite]="false"
            [hasBtn]="true"
            [id]="article.paperId"
          >
          </app-article-abstract>
        </div>
      </div>

      <app-paginator
        [totalItems]="totalCount"
        [currentItem]="currentCount"
        [itemsPerPage]="5"
        [showBoundary]="true"
        (pageChanged)="pageChanged($event)"
      ></app-paginator>
    </div>
    <div class="no-result" *ngIf="articles.length === 0 && searching">
      <div class="jumbotron">啥都没搜到</div>
      <div class="smaller">换一下关键词试试吧</div>
    </div>
  </div>

  <div class="func_part">
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_h">
      <a routerLink="../">个人中心</a>
    </div>
    <div class="func_h">
      <a routerLink="../user">用户管理</a>
    </div>
    <div class="func_t">
      <a routerLink="." class="func_t">论文管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../pro">专家管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../pro-apply">专家申请管理</a>
    </div>
  </div>
</div>
