<div class="login-page-banner">
  <div class="container">
    <div class="login">
      <h1 class="textdarcula">专家注册</h1>
      <h5 class="textdarcula">专家ID</h5>
      <input
        name="user_id"
        id="user_id"
        type="text"
        class="username-box"
        [value]="user_id"
        (input)="user_id = $event.target.value"
        placeholder="请输入您的专家ID"
      />
      <h5 class="textdarcula">姓名</h5>
      <input
        name="username"
        id="username"
        type="text"
        class="username-box"
        [value]="name"
        (input)="name = $event.target.value"
        placeholder="请输入您的姓名"
      />
      <h5 class="textdarcula">所属组织</h5>
      <input
        name="institution"
        id="institution"
        type="text"
        class="username-box"
        [value]="institution"
        (input)="institution = $event.target.value"
        placeholder="请输入您的所属组织"
      />
      <h5 class="textdarcula">研究领域</h5>
      <input
        name="field"
        id="field"
        type="text"
        class="username-box"
        [value]="field"
        (input)="field = $event.target.value"
        placeholder="请输入您的主攻领域"
      />
      <h5 class="textdarcula">密码</h5>
      <input
        name="password"
        id="password"
        type="password"
        class="username-box"
        [value]="password"
        (input)="password = $event.target.value"
        placeholder="请输入密码"
      />
      <h5 class="textdarcula">邮箱</h5>
      <input
        name="mail"
        id="mail"
        type="text"
        class="username-box"
        [value]="mail"
        (input)="mail = $event.target.value"
        placeholder="请输入邮箱"
      />
      <h5 class="textdarcula">手机号码</h5>
      <input
        name="phonenum"
        id="phonenum"
        type="text"
        class="username-box"
        [value]="phonenum"
        (input)="phonenum = $event.target.value"
        placeholder=" +86"
      />
      <div class="foot">
        <button (click)="onClickMe()" class="btn login-btn">注册</button>
      </div>
    </div>
  </div>
</div>
