<div class="container">
  <h5><br/></h5>

  <div class="left_part">
    <app-searchbar [type]="'用户'"></app-searchbar>
    <div *ngFor="let user of returnedUsers">
      <app-user-abstract
        [name]="user.name"
        [photoURL]="user.pic_url"
        [from]="user.from"
        [password]="user.password"
        [hasBtn]="true">
      </app-user-abstract>
    </div>
    <app-paginator
      [totalItems]="users.length"
      [itemsPerPage]="5"
      [showBoundary]="true"
      (pageChanged)="pageChanged($event)">
    </app-paginator>
  </div>

  <div class="func_part">
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_h">
      <a routerLink="../">个人中心</a>
    </div>
    <div class="func_t">
      <a routerLink="." class="func_t">用户管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../article">论文管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../pro">专家管理</a>
    </div>
    <div class="func_h">
      <a routerLink="../pro-apply">专家申请管理</a>
    </div>
  </div>
</div>
