<div class="top-rectangle"></div>
<div class="container">
  <div class="left">
    <div class="profile">
      <div class="photo">
        <img class="profile-photo" src="{{photo}}">
      </div>
      <div class="name-title">
        <div class="jumbotron">
          {{name}}
        </div>
        <div class="actions">
          <div class="btn-ghost">
            <div class="symbol-word">关注</div>
          </div>
          <div class="btn-ghost">
            <div class="symbol-word">交流</div>
          </div>
        </div>
      </div>
      <div class="unit">
        {{unit}}
      </div>
      <div class="description">
        {{description}}
      </div>
      <div class="personal-info">
        <div class="row">
          <div class="key">个人网站</div>
          <div class="val">
            <a href="{{personalSite}}">
              {{personalSite}}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="key">微博</div>
          <div class="val">
            <a href="{{weiboSite}}">
              {{weiboName}}
            </a>
          </div>
        </div>
      </div>
      <div class="tag-container">
        <div class="tag" *ngFor="let tag of returnedTagsArray">
          {{tag.name}}
        </div>
      </div>
      <div class="data-list">
        <div class="data">
          <div class="unit">发文</div>
          <div class="number">{{articleNum}}</div>
        </div>
        <div class="data">
          <div class="unit">引用</div>
          <div class="number">{{quotedNum}}</div>
        </div>
        <div class="data">
          <div class="unit">下载</div>
          <div class="number">{{downloadedNum}}</div>
        </div>
      </div>
    </div>

    <div class="result">
      <!-- Articles -->
      <div class="result-block articles">
        <div class="title-block">
          <h1>
            文章
          </h1>
          <div class="link ghost-btn">
            <a routerLink="article">查看全部文章 ({{articleNum}})</a>
          </div>
        </div>
        <div class="abstract" *ngFor="let article of returnedArticlesArray">
          <app-article-abstract [title]="article.title" [articleType]="article.articleType" [abstract]="article.abstract" [authors]="article.authors" [releaseDate]="article.releaseDate" [tags]="article.tags" [refCount]="article.refCount" [downloadCount]="article.downloadCount"
                                [hasFile]="article.hasFile" [showFavorite]="article.showFavorite">
          </app-article-abstract>
        </div>
      </div>
      <!-- Contacts -->
      <div class="result-block contacts">
        <div class="title-block">
          <h1 class="type">
            人脉
          </h1>
          <div class="link ghost-btn">
            <a routerLink="connection">查看所有人脉信息</a>
          </div>
        </div>
        <div class="title-block">
          <div class="connection">
            <div class="quote">
              他常引用
            </div>
            <!-- component好了会换成component的，先放着占位 -->
            <div *ngFor="let quote of returnedQuotesArray" class="avatar">
              <div class="pic">
                <img class="image" [src]="quote.pic_url" />
              </div>
              <div class="label">
                <div class="name">{{ quote.name }}</div>
                <div class="from">{{ quote.from }}</div>
              </div>
            </div>
          </div>
          <div class="connection">
            <div class="quote">
              常引用他
            </div>
            <!-- component好了会换成component的，先放着占位 -->
            <div *ngFor="let quoted of returnedQuotedsArray" class="avatar">
              <div class="pic">
                <img class="image" [src]="quoted.pic_url" />
              </div>
              <div class="label">
                <div class="name">{{ quoted.name }}</div>
                <div class="from">{{ quoted.from }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right-wrapper">
      <div class="line"></div>
      <div class="summary">
        <div class="toc-fat">
          <a routerLink="." class="func_t">专家简介</a>
        </div>
        <div class="toc">
          <a routerLink="article" class="func_h">文章 ({{articleNum}})</a>
        </div>
        <div class="toc">
          <a routerLink="connection" class="func_h">人脉</a>
        </div>
      </div>
    </div>
  </div>
</div>
