.professorpage-banner {
}

.top-rectangle {
  position: relative
  margin-top: var(--theme-pad-01)
  background-color: var(--theme-base06)
  height: 40vh
  width: 100%
}

.left {
  width: 70%
  position: relative
  float: left
}

.profile {
  width: 90%
  height: 100vh
  margin-top: -15vh
}

.photo {
  // 这里后面拿数据的时候改成照片就行
  background-color: white
  border-bottom-width: var(--theme-pad-02)
  border-bottom-style: solid
  height: 30vh
  width: 30vh
  border-bottom-color: var(--theme-base04)
}

.rectangle_left {
  position: relative
  height: var(--theme-pad-09)
  margin-bottom: var(--theme-pad-02)
  float: left
}

.jumbotron {
  padding-top: var(--theme-pad-04)
  display: inline-block
  bottom: 0
}

.rectangle_right {
  position: relative
  margin-top: var(--theme-pad-07)
  padding-top: var(--theme-pad-04)
  height: var(--theme-pad-05)
  float: left
}

.symbol {
  padding-left: var(--theme-pad-06)
  color: var(--theme-accent)
  vertical-align: middle
  float: left
  display: flex
  align-items: flex-end
}

.symbol_word {
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: 500
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  padding-left: var(--theme-pad-02)
  color: var(--theme-accent)
  display: flex
  align-items: flex-end
  float: left
}

.unit {
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: bold
  font-size: var(--theme-size-larger)
  line-height: var(--theme-size-large)
  display: flex
  align-items: flex-end
  color: var(--theme-base03)
  width: 100%
}

.description {
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  font-feature-settings: 'case' on
  color: var(--theme-base02)
  padding-top: var(--theme-pad-03)
  padding-bottom: var(--theme-pad-03)
}

.site {
  width: 100%
  padding-bottom: var(--theme-pad-02)
  position: relative
}

.tag-container {
  padding-top: var(--theme-pad-02)
}

.tag {
  float: left
}

.data_list {
  width: 100%
  padding-bottom: var(--theme-pad-02)
  position: relative
}

.data {
  float: left
  width: 16vh
  padding-top: var(--theme-pad-04)
  margin-right: var(--theme-pad-02)
}

.number {
  font-family: Iosevka
  font-style: normal
  font-weight: 300
  font-size: var(--theme-size-h1)
  display: flex
  align-items: flex-end
  font-feature-settings: 'calt' off
  color: var(--theme-base00)
}

.left_context {
  width: var(--theme-pad-07)
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  font-feature-settings: 'case' on
  color: var(--theme-base02)
  float: left
}

.link {
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  color: var(--theme-accent)
}

.result {
  width: 100%
}

.result_type {
  width: 100%
  padding-bottom: var(--theme-pad-02)
  position: relative
  height: var(--theme-size-jumbotron)
  margin-top: var(--theme-pad-04)
  margin-bottom: var(--theme-pad-02)
  display: flex
  align-items: center
}

.type {
  width: 50%
  float: left
  font-family: Sarasa Gothic SC
  font-size: var(--theme-size-h1)
  display: flex
  align-items: flex-end
}

.check {
  width: 50%
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  color: var(--theme-accent)
  text-align: right
}

.abstract {
  width: 100%
  position: relative
  padding-bottom: var(--theme-pad-03)
}

.title {
  font-family: Sarasa Gothic SC
  font-size: var(--theme-size-larger)
  line-height: var(--theme-size-large)
  padding-top: var(--theme-pad-02)
  padding-bottom: var(--theme-pad-02)
}

.symbol_list {
  display: flex
  align-items: center
}

.symbol_abstract {
  margin: var(--theme-pad-01) var(--theme-pad-01)
}

.symbol_number {
  font-family: Iosevka
  font-size: var(--theme-size-base)
  line-height: var(--theme-size-larger)
  margin-right: var(--theme-pad-06)
  display: flex
  align-items: center
}

.info {
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: bold
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  color: var(--theme-base03)
  padding-top: var(--theme-pad-01)
}

.context {
  padding-top: var(--theme-pad-02)
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  font-feature-settings: 'case' on
  color: var(--theme-base02)
}

.patent {
  padding-top: var(--theme-pad-02)
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: normal
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  font-feature-settings: 'case' on
  color: var(--theme-base03)
  padding-bottom: var(--theme-pad-03)
}

.quote {
  font-family: Sarasa Gothic SC
  width: 50%
  font-size: var(--theme-size-larger)
  line-height: var(--theme-size-large)
}

.right {
  margin-top: var(--theme-pad-08)
  margin-left: var(--theme-pad-09)
  width: 15%
  position: fixed
  left: 65%
}

.line {
  background-color: var(--theme-accept)
  width: 60%
  height: 1px
}

.summary {
}

.toc-fat {
  position: relative
  padding-top: var(--theme-pad-04)
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: bold
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  display: flex
  align-items: flex-end
  color: var(--theme-base00)
}

.toc {
  padding-top: var(--theme-pad-02)
  position: relative
  font-family: Sarasa Gothic SC
  font-style: normal
  font-weight: 500
  font-size: var(--theme-size-small)
  line-height: var(--theme-size-base)
  display: flex
  align-items: flex-end
  font-feature-settings: 'zero' on
  color: var(--theme-base03)
}
