<div class="professorpage-banner inverted-color-theme" @banner-trigger></div>
<div class="top-rectangle"></div>
<div class="container">
  <div class="left">
    <div class="profile">
      <div class="photo"></div>
      <div class="name-title">
        <div class="jumbotron">闫志全</div>
        <div class="actions">
          <div class="btn-ghost">
            <div class="symbol-word">关注</div>
          </div>
          <div class="btn-ghost">
            <div class="symbol-word">交流</div>
          </div>
        </div>
      </div>
      <div class="unit">北京航空航天大学</div>
      <div class="description">
        化学博士。现在在主攻社会行为学和生物学，以及化学物质在其中的作用。
      </div>
      <div class="personal-info">
        <div class="row">
          <div class="key">个人网站</div>
          <div class="val">http://yan-zhiquan.com</div>
        </div>
        <div class="row">
          <div class="key">微博</div>
          <div class="val">@你家猫一米八</div>
        </div>
      </div>
      <div class="tag-container">
        <div class="tag">天然产物的有机合成</div>
        <div class="tag">社会行为学</div>
        <div class="tag">生物科学</div>
      </div>
      <div class="data-list">
        <div class="data">
          <div class="unit">发文</div>
          <div class="number">30</div>
        </div>
        <div class="data">
          <div class="unit">引用</div>
          <div class="number">115</div>
        </div>
        <div class="data">
          <div class="unit">下载</div>
          <div class="number">65536</div>
        </div>
      </div>
    </div>

    <div class="result">
      <!-- Articles -->
      <div class="result-block articles">
        <div class="title-block">
          <h1>
            文章
          </h1>
          <div class="link ghost-btn">
            查看全部文章 (30)
          </div>
        </div>
        <div class="abstract"></div>
      </div>
      <!-- Patents -->
      <div class="result-block patents">
        <div class="title-block">
          <h1 class="type">
            专利
          </h1>
          <div class="link ghost-btn">
            查看全部专利 (0)
          </div>
        </div>
        <div class="patent">这位专家似乎还没发过专利。</div>
      </div>
      <!-- Projects -->
      <div class="result-block projects">
        <div class="title-block">
          <h1 class="type">
            项目
          </h1>
          <div class="link ghost-btn">
            查看所有项目 (12)
          </div>
        </div>
        <div class="abstract">
          <div class="title">二甲双胍的续命作用</div>
          <div class="context">
            二甲双胍的降糖作用是毋庸置疑的。但是，最近也有证据表明二甲双胍也有抵抗衰老、甚至修复细胞的功能。本项目将以蛙类为载体探索二甲双胍的续命作用。
          </div>
        </div>
      </div>
      <!-- Contacts -->
      <div class="result-block contacts">
        <div class="title-block">
          <h1 class="type">
            人脉
          </h1>
          <div class="link ghost-btn">
            查看所有人脉信息
          </div>
        </div>
        <div class="title-block">
          <div class="quote">
            他常引用
          </div>
          <div class="quote">
            常引用他
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right-wrapper">
      <div class="line"></div>
      <div class="summary">
        <div class="toc-fat">专家简介</div>
        <div class="toc">文章 (30)</div>
        <div class="toc">专利 (0)</div>
        <div class="toc">项目 (12)</div>
        <div class="toc">人脉</div>
        <div class="toc">联系</div>
      </div>
    </div>
  </div>
</div>
