<div class="container">
  <div class="info_part">
    <h3><br></h3>
    <div class="journal">
      {{journalType}} | {{journalName}} | {{journalYear}}({{journalVolume}})
    </div>
    <div class="jumbotron">
      {{title}}
    </div>
    <div class="authors">
      {{authors}}
    </div>
    <div class="organizations">
      {{organizations}}
    </div>
    <div class="doi">
      Doi: {{doi}}
    </div>
    <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
    <h2>摘要</h2>
    <div class="abstract">
      {{abstract}}
    </div>

    <div class="href_part">
      <button class="btn download-btn">下载全文 PDF</button>
      <h4 class="text">或向下滑动以在线阅读</h4>
    </div>

  </div>

  <div class="func_part">
    <button class="btn download-btn">下载全文 PDF</button>
    <div class="func_h">
      <a>生成引用</a>
    </div>
    <div class="func_h">
      <a>分享本文</a>
    </div>
    <br>
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_t">
      <a routerLink="." class="func_t">摘要</a>
    </div>
    <div class="func_h">
      <a routerLink="favorite">全文</a>
    </div>
    <div class="func_h">
      <a routerLink="download">作者信息</a>
    </div>
    <div class="func_h">
      <a routerLink="follow">引用(12)</a>
    </div>
    <div class="func_h">
      <a routerLink="setting">被引(7)</a>
    </div>
  </div>
</div>
