.title {
  font-size: var(--theme-size-h4)
  font-weight: bold
}

.abstract {
  font-size: var(--theme-size-base)
  font-weight: normal
}

.info {
  color: var(--theme-base03)
  font-weight: 500
}

.article-abstract > * {
  margin-top: var(--theme-pad-01)
  margin-bottom: var(--theme-pad-01)
}
