<div class="article-abstract">
  <div>
    <div class="left-panel">
      <div class="title" ngClass="{'link': linked}" (click)="jump()">
        {{ title }}
      </div>
      <div class="info">{{ articleInfo }}</div>
      <div class="tag-container">
        <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
      </div>
    </div>
    <div *ngIf="hasBtn == true">
      <div class="rightbtn">
        <button (click)="clickEdit()"  class="btn edit-btn">修改</button>
        <button (click)="clickDelete()" class="btn delete-btn">删除</button>
      </div>
    </div>
  </div>

  <div class="abstract">
    <p>
      {{ abstract }}
    </p>
  </div>
</div>
