<div class = "container">
  <div class="info_part">
    <h3><br></h3>
    <div class="jumbotron">
      {{name}}
    </div>
    <div class="lined-name">
      {{lined_name}}
    </div>
    <div class="message">
      {{message}}
    </div>
  <div class="func_part">
    <HR class="line" id="okk" SIZE="2" color="#27a881" />
    <div class="func_t">
      <a routerLink="." class="func_t">个人中心</a>
    </div>
    <div class="func_h">
      <a routerLink="user">用户管理</a>
    </div>
    <div class="func_h">
      <a routerLink="article">论文管理</a>
    </div>
    <div class="func_h">
      <a routerLink="pro">专家管理</a>
    </div>
    <div class="func_h">
      <a routerLink="pro-apply">专家申请管理</a>
    </div>
  </div>
</div>
