@import 'styles/fonts'
@import 'styles/container'

default-font = 'Sarasa UI SC', 'Noto Sans', 'San Fransisco', 'Segoe UI', 'Source Han Sans SC', 'Microsoft Yahei UI', sans-serif

body {
  margin: 0
  padding: 0
  font: var(--theme-font, default-font)
}

generate-padding(pad-base) {
  --theme-pad-00: 0px
  --theme-pad-01: pad-base * 0.5
  --theme-pad-02: pad-base
  --theme-pad-03: pad-base * 2
  --theme-pad-04: pad-base * 3
  --theme-pad-05: pad-base * 4
  --theme-pad-06: pad-base * 6
  --theme-pad-07: pad-base * 8
  --theme-pad-08: pad-base * 12
  --theme-pad-09: pad-base * 16
  --theme-pad-10: pad-base * 32
  // Container
  --theme-container-pad: pad-base * 3
}

generate-font-size(size-base) {
  --theme-size-small: size-base * 0.75
  --theme-size-base: size-base
  --theme-size-larger: size-base * 1.25
  --theme-size-large: size-base * 1.5
  --theme-size-h4: size-base * 1.5
  --theme-size-h3: size-base * 2
  --theme-size-h2: size-base * 2.5
  --theme-size-h1: size-base * 3
  --theme-size-jumbotron: size-base * 4.5
}

.normal-theme {
  /* Black */
  --theme-base00: #000000
  /* Gray 1 */
  --theme-base01: #343637
  /* Gray 2 */
  --theme-base02: #484C4D
  /* Gray 3 */
  --theme-base03: #7B8083
  /* Gray 4 */
  --theme-base04: #B9C7CB
  /* Gray 5 */
  --theme-base05: #DCDFE0
  /* Gray 6 */
  --theme-base06: #E9F1F2
  /* White */
  --theme-base07: #FFFFFF
  /* Red */
  --theme-err: #E63E52
  /* Orange */
  --theme-warn: #FF8C05
  /* Green 2 */
  --theme-accent: #27A881
  /* Green 3 */
  --theme-accent-alter: #16D0AF
  --theme-accept: #16D0AF
  /* Blue 2 */
  --theme-info: #B0C2FF
  // Fonts
  --theme-font: 'Sarasa UI SC', 'Noto Sans', 'San Fransisco', 'Segoe UI', 'Source Han Sans SC', 'Microsoft Yahei UI', sans-serif
  // padding
  // theme-pad-base: 8px
  generate-padding: 8px
  generate-font-size: 16px
  // pages
  --theme-page-lg: theme-page-lg
  --theme-page-md: theme-page-md
  --theme-page-sm: theme-page-sm
  --theme-breakpoint-lg: theme-breakpoint-lg
  --theme-breakpoint-md: theme-breakpoint-md
  --theme-breakpoint-sm: theme-breakpoint-sm
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
label {
  font-family: var(--theme-font)
  font-size: var(--theme-size-base)
  line-height: 150%
}

h1 {
  font-size: var(--theme-size-h1)
  font-weight: 300
}

h2 {
  font-size: var(--theme-size-h2)
  font-weight: 400
}

h3 {
  font-size: var(--theme-size-h3)
  font-weight: 400
}

h4 {
  font-size: var(--theme-size-h4)
  font-weight: 500
}

textbox-default-background-color = var(--theme-base07)
textbox-default-text-color = var(--theme-base01)
textbox-default-placeholder-color = var(--theme-base05)
textbox-default-border-color = var(--theme-base05)
textbox-default-accent-color = var(--theme-accent)

input {
  width: 100%
  display: flex
  padding: var(--theme-pad-02) var(--theme-pad-03)
  background-color: var(--textbox-background-color, textbox-default-background-color)
  color: var(--textbox-text-color, textbox-default-text-color)
  border-style: solid
  border-width: 2px
  border-color: var(--textbox-border-color, textbox-default-border-color)
  font-family: inherit
  font-weight: normal
  font-size: var(--theme-size-base)
  transition: border-color 150ms ease-in-out

  &::placeholder {
    color: var(--textbox-placeholder-color, textbox-default-placeholder-color)
  }

  &:focus {
    border-color: var(--textbox-accent-color, textbox-default-accent-color)
  }
}
