
@import 'styles/container'

body {
  margin: 0
  padding: 0
  font: var(--theme-font)
}

generate-padding(pad-base) {
  --theme-pad-00: 0px
  --theme-pad-01: pad-base * 0.5
  --theme-pad-02: pad-base
  --theme-pad-03: pad-base * 2
  --theme-pad-04: pad-base * 3
  --theme-pad-05: pad-base * 4
  --theme-pad-06: pad-base * 6
  --theme-pad-07: pad-base * 8
  --theme-pad-08: pad-base * 12
  --theme-pad-09: pad-base * 16
  --theme-pad-10: pad-base * 32
}

.normal-theme {
  /* Black */
  --theme-base00: #000000
  /* Gray 1 */
  --theme-base01: #343637
  /* Gray 2 */
  --theme-base02: #484C4D
  /* Gray 3 */
  --theme-base03: #7B8083
  /* Gray 4 */
  --theme-base04: #B9C7CB
  /* Gray 5 */
  --theme-base05: #DCDFE0
  /* Gray 6 */
  --theme-base06: #E9F1F2
  /* White */
  --theme-base07: #FFFFFF
  /* Red */
  --theme-err: #E63E52
  /* Orange */
  --theme-warn: #FF8C05
  /* Green 2 */
  --theme-accent: #27A881
  /* Green 3 */
  --theme-accent-alter: #16D0AF
  --theme-accept: #16D0AF
  /* Blue 2 */
  --theme-info: #B0C2FF
  // Fonts
  --theme-font: 'Noto Sans', 'San Fransisco', 'Segoe UI', 'Source Han Sans SC', 'Microsoft Yahei UI', sans-serif
  // padding
  // theme-pad-base: 8px
  generate-padding: 8px
  // pages
  --theme-page-lg: theme-page-lg
  --theme-page-md: theme-page-md
  --theme-page-sm: theme-page-sm
  --theme-breakpoint-lg: theme-breakpoint-lg
  --theme-breakpoint-md: theme-breakpoint-md
  --theme-breakpoint-sm: theme-breakpoint-sm
}
