/* You can add global styles to this file, and also import other style files */
body {
  margin: 0
  padding: 0
}

.normal-theme {
  /* Black */
  --theme-base00: #000000
  /* Gray 1 */
  --theme-base01: #343637
  /* Gray 2 */
  --theme-base02: #484C4D
  /* Gray 3 */
  --theme-base03: #7B8083
  /* Gray 4 */
  --theme-base04: #B9C7CB
  /* Gray 5 */
  --theme-base05: #DCDFE0
  /* Gray 6 */
  --theme-base06: #E9F1F2
  /* White */
  --theme-base07: #FFFFFF
  /* Red */
  --theme-err: #E63E52
  /* Orange */
  --theme-warn: #FF8C05
  /* Green 2 */
  --theme-accent: #27A881
  /* Green 3 */
  --theme-accent-alter: #16D0AF
  --theme-accept: #16D0AF
  /* Blue 2 */
  --theme-info: #B0C2FF
  // Fonts
  --theme-font: 'Noto Sans', 'San Fransisco', 'Segoe UI', 'Source Han Sans SC', 'Microsoft Yahei UI', sans-serif
}
