@font-face {
  font-family: 'Iosevka';
  font-weight: 300;
  font-style: normal;
  src: url('iosevka-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 300;
  font-style: oblique;
  src: url('iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-weight: 300;
  src: url('iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 300;
  font-style: italic;
  src: url('iosevka-lightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 400;
  font-style: normal;
  src: url('iosevka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 400;
  font-style: oblique;
  src: url('iosevka-oblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-weight: 400;
  src: url('iosevka-oblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 400;
  font-style: italic;
  src: url('iosevka-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 500;
  font-style: normal;
  src: url('iosevka-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 500;
  font-style: oblique;
  src: url('iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-weight: 500;
  src: url('iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 500;
  font-style: italic;
  src: url('iosevka-mediumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 700;
  font-style: normal;
  src: url('iosevka-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 700;
  font-style: oblique;
  src: url('iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-weight: 700;
  src: url('iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 700;
  font-style: italic;
  src: url('iosevka-bolditalic.woff2') format('woff2');
}
