<div class="container">
    <div class="info_part" *ngIf="user !== undefined">
        <h3><br></h3>
        <div class="jumbotron">
            {{user.userName}}
        </div>

        <div class="college">
            {{user.email}}
        </div>

        <div class="number_part">
            <div class="download_part">
                <div class="down_title">
                    已下载
                </div>
                <div class="down_num">
                    {{downloadNum}}
                </div>
            </div>
            <div class="money_part">
                <div class="money_title">
                    余额
                </div>
                <div class="money_num">
                    {{MoneyLeft}}r
                </div>
            </div>
        </div>

        <div class="href_part">
            <a routerLink="setting">编辑我的信息</a>
            <br />
            <a routerLink="payment">充值</a>
        </div>

        <div class="recent_part">
            <div class="recent_head">
                <h1 class="recent_title">
                    最近收藏
                </h1>
                <div class="recent_more">
                    <a routerLink="favorite">查看更多</a>
                </div>
            </div>

            <div class="recent_subject" *ngFor="let article of returnedArray">

                <app-article-abstract [title]="article.title" [articleType]="article.articleType"
                    [abstract]="article.abstract" [authors]="article.authors" [releaseDate]="article.releaseDate"
                    [tags]="article.tags" [refCount]="article.refCount" [downloadCount]="article.downloadCount"
                    [hasFile]="article.hasFile" [showFavorite]="article.showFavorite">
                </app-article-abstract>

            </div>

        </div>
    </div>



    <div class="right">
        <div class="right-wrapper">
            <div class="line"></div>
            <div class="summary">
                <div routerLink="." class="toc-fat">个人中心</div>
                <div routerLink="favorite" class="toc">我的收藏</div>
                <div routerLink="download" class="toc">我的下载</div>
                <div routerLink="follow" class="toc">我的关注</div>
                <div routerLink="setting" class="toc">个人设置</div>
                <div routerLink="payment" class="toc">财务管理</div>
            </div>
        </div>
    </div>
</div>
